[submodule "gnu-efi"]
	path = gnu-efi
	url = https://github.com/rhboot/gnu-efi
	branch = shim-15.6
[submodule "kernelcare-contrib/edk2-pytool-extensions"]
	path = kernelcare-contrib/edk2-pytool-extensions
	url = https://github.com/tianocore/edk2-pytool-extensions.git
